<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login Form Template</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='login_ok_form-elements.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='login_ok_style.css') }}">
</head>

<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>서울행 관리자 페이지</h3>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form method="post" role="form" class="login-form" name="loginfrm" action="{{url_for('login_ok')}}" onsubmit="return false;">
                                <div class="form-group">
                                    <label class="sr-only" for="form-title">title</label>
                                    <label for="title" class="col-sm-2">제목</label>

                                    <input type="text" name="title" placeholder="제목" class="form-title form-control iText" id="form-username">
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="form-content">content</label>
                                    <label for="form-content" class="col-sm-2">내용</label>

                                    <textarea name="content" placeholder="내용" class="form-content form-control iText" id="form-password"></textarea>
                                </div>
                                  <button type="submit" class="btn">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Javascript -->
    <script src="login_ok_assets/js/scripts.js"></script>

    <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
</html>
